<div>
    <h1 class="title">Agregar producto</h1>

    <form action="/products/crear" method="post">
        Titulo: <input type="text" name="title"><br>
        Descripción: <input type="text" name="description"><br>
        Precio: <input type="text" name="price"><br>
        Código: <input type="text" name="code"><br>
        Miniatura: <input type="text" name="thumbnail"><br>
        Stock: <input type="text" name="stock"><br>

        <input type="submit" value="Agregar">
    </form>
</div>
   
    

