<div>
    <h1 class="title">Iniciar Sesión</h1>

    <form action="/login/registrar" method="post">
        
        E-mail: <input type="text" name="email"><br>        
        Password: <input type="text" name="password"><br>

        <input type="submit" value="Registrar">
    </form>
</div>
   
    

