<div>
    <h1 class="title">Registrar</h1>

    <form action="/jwt/register" method="post">
        Nombre: <input type="text" name="first_name"><br>
        Apellido: <input type="text" name="last_name"><br>
        E-mail: <input type="text" name="email"><br>
        Edad: <input type="number" name="age"><br>
        Password: <input type="text" name="password"><br>

        <input type="submit" value="Registrar">
    </form>
</div>
   
    

